#date-du-reve {
    .acf-label {
        text-align: center;
    }

    .acf-input {

        .acf-input-wrap {
            text-align: center;

            input {
                border-bottom: $b1 solid $color;
                width: 30%;

                @include respond(tablet) {
                    width: 90%;
                }

                &::placeholder {
                    color: $color;
                    opacity: 0.7;
                    font-size: $small;
                    text-align: center;
                }
            }
        }
    }
}
