#wrapper-reves {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: $r4;
    overflow: hidden;
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: $transition2;

    @include respond(tablet) {
        margin-top: $r2;
    }
}
