.reve-item {
    background-color: $bg;
    // border: $b2 solid $color;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: $r4;
    width: 90%;

    @include respond(tablet) {
        width: calc( 100% - 35px );
        margin-left: auto;
        margin-right: auto;
    }
}

/***********************************************************************
 * REVE HEADER
 ***********************************************************************/
    .reve-item-header {
        -webkit-tap-highlight-color: transparent;
        display: flex;
        height: 130px;
        cursor: pointer;

        @include respond(tablet) {
            height: 100px;
        }
    }

    .reve-item-header-title {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        padding: $r2 0 0 0;

        h1 {
            margin: 0 0 0 $r2;
        }

        @include respond(tablet) {
            padding: $r4 0 0 0;
        }
    }

    .reve-item-header-parameters {
        color: $bg;
        width: auto;
        display: flex;
        position: absolute;
        top: -1px;
        left: 0;
        padding: $r;

        & > * {
            font-size: $small;
        }

        span {

            // Author
            &:nth-of-type(1) {
                font-weight: bold;
            }

            // Separator
            &:nth-of-type(2) {
                margin: 0 $r;
            }

            // Date
            &:nth-of-type(3) {
                font-style: italic;
            }
        }
    }

    .reve-item-header-selection {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: $r6;
    }

    /***********************************************************************
     * REVE CONTENT
     ***********************************************************************/
    .reve-item-content {
        display: inline-block;
        margin: auto;
        max-height: 0;
        overflow: hidden;
        transition: $transition2;
        width: 90%;

        @include respond(tablet) {
            display: block;
        }

        p {
            float: left;
            font-size: $h4;
            width: 55%;
            padding: $r4 $r;

            @include respond(tablet) {
                font-size: $h6;
                width: 100%;
            }

            img {
                height: 45%;
                margin: auto;
                object-fit: cover;
                width: 30%;

                @include respond(tablet) {
                    height: 70%;
                    width: 70%;
                }
            }
        }
    }

    /***********************************************************************
     * REVE FOOTER
     ***********************************************************************/

    .reve-item-footer {
        display: flex;
        height: $r7;

        @include respond(tablet) {
            height: $r5;
            height: auto;
            flex-wrap: wrap;
        }

        &.open {
            border-top: $b1 solid $color;
        }
    }

    .reve-footer-typologie {
        display: grid;
        place-items: center;
        height: $r7;
        width: $r7;

        @include respond(tablet) {
            height: $r8;
            width: $r8;
        }
    }

    .reve-footer-tags {
        display: flex;
        flex-wrap: wrap;
        width: calc( 100% - calc( #{$r7} + 25% ) );
        margin: $rs;
        overflow: hidden;

        @include respond(tablet) {
            border-top: $b1 solid $color;
            padding: $r;
            margin: 0;
            // width: calc( 100% - calc( #{$r7} + 40% ) );
            width: 100%;
            // flex: 0.5;
            order: 3;
        }
    }

    .reve-tags-item {
        align-self: start;
        border: $b1 solid $color;
        margin: 0 $rs $rs 0;
        font-size: 12px;

        @include respond(tablet) {
            margin: 0 $rs $rs;
        }
    }

    .reve-footer-lucidite {
        display: grid;
        place-items: center;
        width: 25%;

        @include respond(md) {
            width: 35%;
        }

        @include respond(tablet) {
            width: calc( 100% - #{$r8} );
            border-left: none;
            // flex: 2;
        }
    }
