/***********************************************************************
 * COVER
 ***********************************************************************/
.container-cover {
    align-items: center;
    display: flex;
    transform: rotate(-180deg);
    width: 100%;
    writing-mode: vertical-rl;

    .container-cover-title {
        cursor: pointer;
        margin-bottom: $r4;

        @include respond(tablet) {
            margin-bottom: $r2;
        }
    }
}

.container-cover-apropos {
    align-items: center;
    justify-content: space-between;
    display: flex;

    .container-cover-title {
        order: 2;
    }

    .bandeaux-apropos-credits {
        order: 1;
        align-items: center;
        display: flex;
        margin-top: $r2;

        p {
            cursor: default;
        }

        p, a {
            color: $bg;
            font-size: $small;
        }

        span {
            margin: $r 0;
        }
    }
}

.container-cover-reves {
    display: none;
}
/***********************************************************************
 * CLOSE BUTTONS
 ***********************************************************************/

.close-button {
    cursor: pointer;
}

#close-black {
    position: absolute;
    top: $r4;
    right: $r;
    display: none;

    @include respond(tablet) {
        top: $r2;
        right: $rs;
        transform: scale(0.8);
        transform-origin: top right;
    }
}

#close-white {
    position: absolute;
    top: $r4;
    right: $r;
    display: none;

    @include respond(tablet) {
        top: $r2;
        right: $rs;
        transform: scale(0.8);
        transform-origin: top right;
    }
}
