// TYPE
.button-round-corner {
    background-color: $bg;
    border-radius: 100px 100px 100px 100px;
    border: $b1 solid $color;
    color: $color;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        background-color: $color;
        border-color: $bg;
        color: $bg;
    }

    &.button-no-hover {
        background-color: $bg;
        border-color: $color;
        color: $color;
    }
}

.button-round-corner-black {
    background-color: $color;
    color: $bg;
    border: $b1 solid $bg;

    &:hover {
        background-color: $bg;
        color: $color;
        border-color: $color;
    }
}

.button-round-circle {
    border: $b2 solid $color;
    border-radius: 999px;
    background-color: $color;
    cursor: pointer;
    height: 14px;
    width: 14px;
    transition: $transition;

    &:hover {
        border: $b2 solid $color;
        background-color: $bg;
    }

    &.button-round-circle-white {
        background-color: $bg;

        &:hover {
            background-color: $color;
        }
    }
}

// SIZE
.button-small {
    font-size: $small;
    padding: 5px 10px;
}

.button-medium {
    font-size: $h4;
    padding: 5px 10px;

    @include respond(tablet) {
        font-size: $small;
    }
}

.button-big {
    font-size: $h2;
    padding: 15px 35px;
}

// COLORS
