body {
    font-family: $covik;
    position: relative;
}

a {
    text-decoration: none;
    color: $color;

    &:visited {
        color: $color;
    }

    &:hover {
        color: $color;
    }
}

a {
    font-size: 12px;
    line-height: 9.2px;
}
a::before {
    content: "";
    margin-bottom: -0.2045em;
    display: table;
}

a::after {
    content: "";
    margin-top: -0.0455em;
    display: table;
}

p {
    font-size: 16px;
    line-height: 19px;
    margin: 0;

    &:before {
        content: "";
        margin-bottom: -0.3732em;
        display: table;
    }

    &:after {
        content: "";
        margin-top: -0.2142em;
        display: table;
    }
}

h1 {
    font-size: $h1;
    font-family: $solid;
    text-transform: uppercase;
}
