body {
    font-family: $covik;
    position: relative;
}

a {
    text-decoration: none;
    color: $color;

    &:visited {
        color: $color;
    }

    &:hover {
        color: $color;
    }
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

p {
    margin: 0;
}

h1 {
    font-size: $h1;
    font-family: $solid;
    text-transform: uppercase;
}

h2 {
    font-size: $h2;
}
