#container-home {
    display: flex;
    height: calc( 100vh - 51px );
}

.bandeau {
    background-color: $bg;
}

/***********************************************************************
 * CONTAINER FILTRES
 ***********************************************************************/
#container-filtres {
    border-right: 1px solid $color;
    height: inherit;
    transition: $transition2;
    position: relative;
    width:  50px;

    &.open {
        width: 450px;

        .container-cover {
            display: none;
        }

        #close-black {
            display: block;
        }
    }

    @include respond(tablet) {
        width: 35px;
    }
}


/***********************************************************************
 * CONTAINER REVES
 ***********************************************************************/
#container-reves {
    transition: $transition2;
    overflow: auto;
    width:  calc( 100% - 100px );

    &.closed {
        width: 50px;

        .container-cover {
            display: block;
        }

        #wrapper-reves {
            display: none;
        }
    }

    @include respond(tablet) {
        width: 100%;
    }
}


/***********************************************************************
 * CONTAINER A PROPOS
 ***********************************************************************/
#container-apropos {
    border-left: 1px solid $color;
    transition: $transition2;
    width:  50px;
    display: flex;
    color: $bg;
    position: relative;

    &.open {
        width: calc( 100% - 100px );

        #close-white {
            display: block;
        }

        .apropos-container {
            display: block;
        }
    }

    @include respond(tablet) {
        display: none;
    }
}
