* {
    box-sizing: border-box;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & :before {
        box-sizing: border-box;
    }

    & :after {
        box-sizing: border-box;
    }
}
